<div class="card mb-3 {{ meeting.creator_id == user_id ? 'card-mine' : 'card-other' }}">
  <div class="card-body">
    <h4 class="h5 mb-2">
      <a href="{{site_url}}/invite?key={{meeting.hash}}">
        {{meeting.name}}
      </a>
    </h4>
    <p class="mb-0">
      {{meeting.location}}
    </p>
    <p class="mb-0">
      Creator:
      <a href="mailto:{{meeting.creator_email}}">
        {{meeting.creator_name}}
      </a>
    </p>
    <p class="mb-0">
      Meeting Dates:
      {% for date in meeting.dates %}
        {{date.date | date("n/j/y")}}{% if loop.index != meeting.dates_count %}, {% endif %}
      {% endfor %}
    </p>
    {% if meeting.description %}
      <p class="mt-2 mb-0">
        {{meeting.description}}
      </p>
    {% endif %}
  </div>
</div>
