<div class="card mb-3 {{ meeting.hostName == 'Me' ? 'card-mine' }}">
  <div class="card-body">
    <div class="row">
      <div class="col-4">
        <h3 class="h5 text-nowrap">{{meeting.start_time | date("D, M d")}}</h3>
      </div>
      <div class="col-8">
        <h4 class="h5 mb-2">
          <a href="{{site_url}}/meetings/{{meeting.id}}">
            {{meeting.event_name}}
          </a>
        </h4>
        <p class="mb-0">
          {{meeting.event_location}}
        </p>
        <p class="mb-0">
          {{meeting.start_time| date("g:ia")}}-{{meeting.end_time| date("g:ia")}}
        </p>
        <p class="mb-0">
          Host:
          <a href="mailto:{{meeting.ec_email}}">
            {{meeting.ec_first_name}} {{meeting.ec_last_name}}
          </a>
        </p>
        {% if meeting.attendeeName %}
          <p class="mb-0">
            Attendee:
            <a href="mailto:{{meeting.attendeeEmail}}">
              {{meeting.attendeeName}}
            </a>
          </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
