<div class="row">
  <div class="col-md-6">
    <form method="post">
      <div class="mb-3">
        <label class="h6">Title</label>
        <input class="form-control" name="name" type="text" value="{{meeting.name}}">
      </div>
      <div class="mb-3">
        <label class="h6">Location</label>
        <input class="form-control input-lg" 
          name="locationSelector"
          list="locationDatalist"
          id="locationInput">
        <datalist id="locationDatalist"></datalist>
      </div>
      <div class="mb-4">
        <label class="h6">Description</label>
        <textarea class="form-control">{{meeting.description}}</textarea>
      </div>
      <div class="form-check mb-2">
        <input class="form-check-input" {% if meeting.is_anon == true %}checked{% endif %} name="is_anon" type="checkbox" value="1" id="is_anon">
        <label class="form-check-label" for="is_anon">
          Anonymous Meeting
        </label>
      </div>
      <div class="form-check mb-4">
        <input class="form-check-input" {% if meeting.enable_upload == true %}checked{% endif %} name="enable_upload" type="checkbox" value="1" id="enable_upload">
        <label class="form-check-label" for="enable_upload">
          Enable Attendees to Upload Files
        </label>
      </div>
      <div class="form-group mb-5">
        <label class="h6">File Download for Attendees</label>
        <p>
          You may only upload a single file. Uploading a second file will overwrite the first.
          If you need to upload multiple files combine them into a single zip file.
        </p>
        <input class="form-control-file" type="file" value="{{meeting.event_file}}">
      </div>
      <div class="mb-4">
        <label class="h6">Attendees Allowed Per Timeslot</label>
        <div class="row">
          <div class="col-6">
            <input class="form-control" min="1" max="100" name="capacity" type="number" value="{{meeting.capacity}}">
          </div>
        </div>
      </div>
      <div class="mb-4">
        <label class="h6">Select Meeting Dates</label>
        <div id="calendar"></div>
      </div>
      <div class="mb-4">
        <label class="h6">Slot Duration</label>
        <div class="row">
          <div class="col-6">
            <select class="form-control" name="duration">
              <option>1 hour</option>
              <option>30 minutes</option>
              <option>15 minutes</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="mb-2">
        <label class="h6">Select Available Times</label>
        {{ include('meetings/_date_table.twig') }}
      </div>
      <div class="pt-4">
        <button class="btn btn-success">
          Save Meeting
        </button>
        <a class="ml-3" href="{{site_url}}/meetings">
          Cancel
        </a>
      </div>
    </form>
  </div>
</div>
