<div class="card mb-3 {{ meeting.hostName == 'Me' ? 'card-mine' }}">
  <div class="card-body">
    <div class="row">
      <div class="col-4">
        <h3 class="h5 text-nowrap">{{meeting.date}}</h3>
      </div>
      <div class="col-8">
        <h4 class="h5 mb-2">
          <a href="{{site_url}}/meetings/{{meeting.id}}">
            {{meeting.title}}
          </a>
        </h4>
        <p class="mb-0">
          {{meeting.location}}
        </p>
        <p class="mb-0">
          {{meeting.time}}
        </p>
        <p class="mb-0">
          Host:
          <a href="mailto:{{meeting.hostEmail}}">
            {{meeting.hostName}}
          </a>
        </p>
        {% if meeting.attendeeName %}
          <p class="mb-0">
            Attendee:
            <a href="mailto:{{meeting.attendeeEmail}}">
              {{meeting.attendeeName}}
            </a>
          </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
