<div class="card mb-4 {{ meeting.hostName == 'Me' ? 'card-mine' }}">
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <h4 class="h6 mb-0">
          Title
        </h4>
        <p>
          {{meeting.title}}
        </p>
        <h4 class="h6 mb-0">
          Location
        </h4>
        <p>
          {{meeting.location}}
        </p>
        <h4 class="h6 mb-0">
          Description
        </h4>
        <p>
          {{meeting.description}}
        </p>
        <h4 class="h6 mb-0">
          Dates
        </h4>
        <p>
          {% for date in meeting.dates %}
            {{date}}<br>
          {% endfor %}
        </p>
      </div>
      <div class="col-6">
        <h4 class="h6 mb-0">
          Anonymous Meeting
        </h4>
        <p>
          No
        </p>
        <h4 class="h6 mb-0">
          Enable Attendees to Upload Files
        </h4>
        <p>
          Yes
        </p>
        <h4 class="h6 mb-0">
          File Download for Attendees
        </h4>
        <p>
          <a href="#">
            file.pdf
          </a>
        </p>
        <h4 class="h6 mb-0">
          Attendees Allowed Per Timeslot
        </h4>
        <p>
          {{meeting.per_slot}}
        </p>
        <h4 class="h6 mb-0">
          RSVP Link
        </h4>
        <p>
          <a href="{{site_url}}/meetings/{{meeting.id}}/rsvp">RSVP</a>
        </p>
      </div>
    </div>
  </div>
</div>
<p class="mb-5">
  <a class="btn btn-primary" href="{{site_url}}/meetings/{{meeting.id}}/edit">
    Edit Meeting
  </a>
</p>
<h2 class="h3">
  Attendees
</h2>
{% if meeting.attendees %}
  <table class="table">
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Name</th>
      <th>File</th>
      <th></th>
    </tr>
    {% for attendee in meeting.attendees %}
      <tr>
        <td>{{attendee.date}}</td>
        <td>{{attendee.time}}</td>
        <td><a href="mailto:{{attendee.email}}">{{attendee.name}}</a></td>
        <td><a href="#">file.pdf</a></td>
        <td>
          <i class="fas fa-times text-danger ml-2" data-toggle="modal" data-target="#delete-attendee-modal" role="button"></i>
        </td>
      </tr>
    {% endfor %}
  </table>
  <div class="modal fade" id="delete-attendee-modal" tabindex="-1" role="dialog" aria-labelledby="delete-attendee-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="delete-attendee-modal-label">Remove Attendee</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to remove this attendee?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
{% else %}
  <p>
    No attendees have signed up yet.
  </p>
{% endif %}
<p class="mb-5">
  <button class="btn btn-primary" data-toggle="modal" data-target="#invite-attendees-modal" type="button">
    Invite Attendees
  </button>
</p>
<div class="modal fade" id="invite-attendees-modal" tabindex="-1" role="dialog" aria-labelledby="invite-attendees-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="invite-attendees-modal-label">Invite Attendees</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Enter email addresses separated by commas or on new lines, or upload a CVS file.
        </p>
        <p>
          <textarea class="form-control"></textarea>
        </p>
        <div class="form-group">
          <input class="form-control-file" type="file">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success">Send</button>
      </div>
    </div>
  </div>
</div>
