<div class="mb-4">
  <label class="h6">
    Attendees Allowed Per Timeslot
  </label>
  {% if edit_dates %}
    <p class="text-danger">
      <i class="fas fa-exclamation-circle text-danger"></i>
      Changing this value will affect new timeslots, but not previously saved timeslots.
    </p>
  {% endif %}
  <div class="row">
    <div class="col-6 col-md-2">
      <input
        class="form-control"
        min="1"
        max="100"
        name="slot_capacity"
        required type="number"
        value="{{meeting.slot_capacity}}"
      >
    </div>
  </div>
</div>
<div class="mb-4">
  <label class="h6">
    Timeslot Duration
  </label>
  <p class="text-danger">
    <i class="fas fa-exclamation-circle text-danger"></i>
    Changing this value will cause all selected times to be removed.
  </p>
  <div class="row">
    <div class="col-6 col-md-2">
      <select class="form-control" id="duration" name="duration" data-create="{% if edit_dates %}false{% else %}true{% endif %}" data-saved-duration="{{meeting.duration}}">
        <option value="60" {% if meeting.duration == 60 %}selected{% endif %}>
          1 hour
        </option>
        <option value="30" {% if meeting.duration == 30 %}selected{% endif %}>
          30 minutes
        </option>
        <option value="15" {% if meeting.duration == 15 %}selected{% endif %}>
          15 minutes
        </option>
      </select>
    </div>
  </div>
</div>
<div class="mb-4">
  <label class="h6">
    Select Meeting Dates
  </label>
  {% if edit_dates %}
    <p class="text-danger">
      <i class="fas fa-exclamation-circle text-danger"></i>
      Previously saved dates require confirmation for removal.
    </p>
  {% endif %}
  <div
    class="times-selector"
    data-create="{% if edit_dates %}false{% else %}true{% endif %}"
    data-dates="{{dates_json}}"
    data-dates-saved="{{dates_saved_json}}"
    data-end-time="{{meetings_end_time}}"
    data-start-time="{{meetings_start_time}}"
    id="calendar-times-selector"
  >
  </div>
</div>
<div class="mb-2">
  <label class="h6 mb-3">
    Select Available Timess
  </label>
  <p>
    Hold your mouse down to select multiple times at once.<br>
    {% if edit_dates %}<span class="text-danger"><i class="fas fa-exclamation-circle"></i> Previously saved timeslots require confirmation for removal.</span>{% endif %}
  </p>
  <div class="d-flex">
    <div class="times-selector-legend-container">
      <ul class="d-flex list-unstyled">
        <li id="times-selector-legend">
          {% for time in time_labels %}
            <div class="times-label">
              {{time | date("g:i a")}}
            </div>
          {% endfor %}
        </li>
      </ul>
    </div>
    <div class="times-selector-container">
      <ul class="d-flex list-unstyled" id="times-selector" data-drag-active="false">
        <li class="times-selector-placeholder {% if dates %}d-none{% endif %}">
          Select dates first.
        </li>
        {% for date in dates %}
          <li class="time-selector-list-item" id="time-{{date}}">
            <h4 class="date-label mb-0 text-center">
              {{date | date("D, M j")}}
            </h4>
            {% for time in time_labels %}
              {% set date_time = "#{date} #{time}" %}
              <label
                class="times-label {% if date_time in timeslot_times %}times-label--checked{% endif %} {% if date_time in timeslot_times_saved %}times-label--checked-confirm{% endif %}"
                data-meetings-datetime-label="{{date_time}}"
              >
                <input
                  {% if date_time in timeslot_times %}checked{% endif %}
                  {% if date_time in timeslot_times_saved %}data-meetings-datetime-confirm{% else %}data-meetings-datetime{% endif %}="{{date_time}}"
                  name="timeslots[]"
                  type="checkbox"
                  value="{{date_time}}"
                >
                {{time}}
              </label>
            {% endfor %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

