{% extends 'layouts/logged_in.twig' %}

{% block page_content %}

<div class="align-items-center d-md-flex justify-content-between">
  <h1 class="h2 mb-4">
    {{title}}
  </h1>
  <form class="form-inline mb-4" method="get">
    <input class="form-control mr-sm-2" name="q" type="search" value="{{search_term}}">
    <button class="btn btn-primary my-2 my-sm-0">
      Search
    </button>
  </form>
</div>
{% if search_term and search_result_count > 0 %}
  <p>
    Found {{search_result_count}} result{% if search_result_count != 1 %}s{% endif %}
  </p>
{% endif %}
{% if search_term %}
  <div class="row">
    <div class="col-lg-6 col-md-8">
      {% for meeting in meetings %}
        {{ include('meetings/_meeting_card.twig') }}
      {% endfor %}
    </div>
  </div>
{% else %}
  <nav>
    <div class="nav nav-tabs" role="tablist">
      <a class="nav-item nav-link active" id="all-meetings-tab" data-toggle="tab" href="#all-meetings" role="tab" aria-controls="all-meetings" aria-selected="false">
        All Upcoming Meetings
      </a>
      <a class="nav-item nav-link" id="my-meetings-tab" data-toggle="tab" href="#my-meetings" role="tab" aria-controls="my-meetings" aria-selected="true">
        Meetings Created By Me
      </a>
      <a class="nav-item nav-link" id="past-meetings-tab" data-toggle="tab" href="#past-meetings" role="tab" aria-controls="past-meetings" aria-selected="false">
        Past Meetings
      </a>
    </div>
  </nav>
  <div class="tab-content pt-3">
    <div class="tab-pane fade show active" id="all-meetings" role="tabpanel" aria-labelledby="all-meetings-tab">
      <div class="row">
        <div class="col-lg-6 col-md-8">
          {% if all_meetings %}
            {% for meeting in all_meetings %}
              {{ include('meetings/_meeting_card.twig') }}
            {% endfor %}
          {% else %}
            <p>
              Nothing scheduled yet!
            </p>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="my-meetings" role="tabpanel" aria-labelledby="my-meetings-tab">
      <div class="row">
        <div class="col-lg-6 col-md-8">
          {% if my_meetings %}
            {% for meeting in my_meetings %}
              {{ include('meetings/_meeting_card.twig') }}
            {% endfor %}
          {% else %}
            <p>
              Nothing here yet! Want to <a href="{{site_url}}/meetings/create">create a meeting</a>?
            </p>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="past-meetings" role="tabpanel" aria-labelledby="past-meetings-tab">
      <div class="row">
        <div class="col-lg-6 col-md-8">
          {% if past_meetings %}
            {% for meeting in past_meetings %}
              {{ include('meetings/_meeting_card.twig') }}
            {% endfor %}
          {% else %}
            <p>
              Nothing to see here!
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% endblock %}
