{% extends 'layouts/logged_in.twig' %}

{% block page_content %}

<h1 class="h2 mb-4">
  {{title}}
</h1>
<div class="card mb-4 card-mine">
  <div class="card-body pb-0">
    <div class="row">
      <div class="col-6">
        <h4 class="h6 mb-1">
          Title
        </h4>
        <p class="card-text-large">
          {{meeting.name}}
        </p>
        <h4 class="h6 mb-1">
          Location
        </h4>
        <p class="card-text-large">
          {{meeting.location}}
        </p>
        <h4 class="h6 mb-1">
          Description
        </h4>
        <p class="card-text-large">
          {{meeting.description}}
        </p>
        <h4 class="h6 mb-1">
          Dates
        </h4>
        <p class="card-text-large">
          {% for date in meeting.dates %}
            {{date.date | date("n/j/y")}}{% if loop.index != meeting.dates_count %}, {% endif %}
          {% endfor %}
        </p>
      </div>
      <div class="col-6">
        <h4 class="h6 mb-1">
          Anonymous Meeting
        </h4>
        <p class="card-text-large">
          {% if meeting.is_anon == true %}
            Yes
          {% else %}
            No
          {% endif %}
        </p>
        <h4 class="h6 mb-1">
          Enable Attendees to Upload Files
        </h4>
        <p class="card-text-large">
          {% if meeting.enable_upload == true %}
            Yes
          {% else %}
            No
          {% endif %}
        </p>
        <h4 class="h6 mb-1">
          File Download for Attendees
        </h4>
        <p class="card-text-large">
          {% if meeting.creator_file %}
            <a href="{{uploads_url}}{{meeting.creator_file}}" download="">
              {{meeting.creator_file | basename}}
            </a>
          {% else %}
            N/A
          {% endif %}
        </p>
        <h4 class="h6 mb-1">
          Attendees Allowed Per Timeslot
        </h4>
        <p class="card-text-large">
          {{meeting.capacity}}
        </p>
        <p class="card-text-large">
          <a id="inviteLink" href="{{site_url}}/invite?key={{meeting.hash}}">Invite Link</a>
        </p>
      </div>
    </div>
  </div>
</div>
<p class="mb-5">
  <a class="btn btn-primary" href="{{site_url}}/meetings/{{meeting.id}}/edit">
    <i class="fas fa-pencil-alt"></i>
    Edit Meeting Info
  </a>
  <a class="btn btn-primary ml-3" href="{{site_url}}/meetings/{{meeting.id}}/dates">
    <i class="fas fa-calendar-alt"></i>
    Edit Meeting Dates
  </a>
</p>
<h2 class="h3">
  Attendees
</h2>
{% if attendee_meetings %}
  <table class="table">
    <tr class="d-flex">
      <th class="col-3">Date</th>
      <th class="col-3">Time</th>
      <th class="col-3">Name</th>
      <th class="col-2">Uploaded File</th>
      <th class="col-1">Remove</th>
    </tr>
    {% for meeting in attendee_meetings %}
      <tr class="d-flex">
        <td class="col-3">
          {{meeting.start_time | date("D, F j, Y")}}
        </td>
        <td class="col-3">
          {{meeting.start_time| date("g:ia")}}-{{meeting.end_time| date("g:ia")}}
        </td>
        <td class="col-3">
          <a href="mailto:{{meeting.attendee_email}}">{{meeting.attendee_name}}</a>
        </td>
        <td class="col-2">
          {% if meeting.attendee_file %}
            <a href="{{uploads_url}}{{meeting.attendee_file}}" download="">{{meeting.attendee_file | basename}}</a>
          {% else %}
            N/A
          {% endif %}
        </td>
        <td class="col-1">
          <button
            class="btn btn-danger btn-sm table-btn"
            data-name="{{meeting.name}}"
            data-timeslot-hash="{{meeting.timeslot_hash}}"
            data-attendee-onid="{{meeting.attendee_onid}}"
            data-url="{{site_url}}/meetings/remove_attendee"
            data-meeting-hash="{{meeting.hash}}"
            type="button"
          >
            <i class="fas fa-times"></i>
          </button>
        </td>
      </tr>
    {% endfor %}
  </table>
  <div class="modal fade" id="delete-attendee-modal" tabindex="-1" role="dialog" aria-labelledby="delete-attendee-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="delete-attendee-modal-label">Remove Attendee</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to remove this attendee?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" id="delete-attendee-button">Delete</button>
        </div>
      </div>
    </div>
  </div>
{% else %}
  <p>
    No attendees have signed up yet.
  </p>
{% endif %}
{% if invite_list %}
  <h2 class="h3">
    Invited Not Yet Registered
  </h2>
  <table class="table">
    <tr class="d-flex">
      <th class="col-6">ONID</th>
      <th class="col-6">Date Sent</th>
    </tr>
    {% for list in invite_list %}
      <tr class="d-flex">
        <td class="col-6">
          {{ list.user_onid }}
        </td>
        <td class="col-6">
          {{ list.mod_date | date("n/j/y g:ia")}}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endif %}
<p class="mb-5">
  <button class="btn btn-primary" data-toggle="modal" data-target="#invite-attendees-modal" type="button">
    Invite Attendees
  </button>
</p>
<div class="modal fade" id="invite-attendees-modal" tabindex="-1" role="dialog" aria-labelledby="invite-attendees-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="invite-attendees-modal-label">Invite Attendees</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post">
        <div class="modal-body">
         <p>
            Please enter ONIDs separated by spaces.
          </p>
          <div class="form-group">
            <input class="form-control" name="attendeeOnid" id="onid" placeholder="onid1 onid2..." type="text">
          </div>
        </div>
        <div class="modal-footer">
          <input type="hidden" name="link" value="{{site_url}}/invite?key={{meeting.hash}}">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button class="btn btn-success">Send Invitations</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
