{% extends "layout/layout.twig" %}

{% block page_head %}  <link rel="stylesheet" href="css/browseStyle.css"> {% endblock %}


{% block page_content %}

<div class="container objectSpace">

	<h2> Browse Events </h2>

	<div class="container entryField1">

	{{ include('partials/search.twig') }}
	
		<div class="browseEvents container">

			<table class="table table-striped">
				<thead>
				<tr class="row">
					{% for table_header in table_headers|slice(0, -1) %}
					<th class="col">{{ table_header }}</th>
					{% endfor %}
				</tr>
				</thead>
				<tbody class="tableBody">
				{% for table_row in table_rows %}

				<tr class="row">

					{% set event_key = table_row|last %}

					<td class="col">
						<a class="text-info" href="./register?key={{ event_key }}">{{ table_row|first }}</a>
					</td>

					{% for column in table_row|slice(1, -1) %}

					<td class="col">{{ column }}</td>

					{% endfor %}

				</tr>
				
				{% endfor %}
				</tbody>
			</table>
			
		</div>

	</div>
	
	
</div>


<!-- jQuery -->
<script type="text/javascript" src="js/jquery.min.js"></script>

<!-- Bootstrap tooltips -->
<script type="text/javascript" src="js/popper.min.js"></script>

<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<!-- MDB core JavaScript -->
<script type="text/javascript" src="js/mdb.min.js"></script>

<!-- Your custom scripts (optional) -->
<script type="text/javascript"></script>

<!-- Date Range Picker -->

<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

<!-- UI specific javascripts -->
<script type="text/javascript" src="view_js/ui.js"></script>

<!-- JavaScript specific to this page -->
<script type="text/javascript" src="view_js/browse.js"></script>

{% endblock %}