{% extends 'layout/logged_in_layout.twig' %}

{% block page_content %}
  <div class="container objectSpace">
    <h3>This page can only be used in development.</h3>

    {% if loggedIn %}
      <p class="alert alert-success">
        You're now logged in as {{user}}, {{firstName}} {{lastName}}, {{email}}. You can proceed to the <a href="dashboard.php">dashboard</a>.
      </p>
    {% else %}
      <p class="alert alert-warning">Fill out all fields</p>
    {% endif %}

    <form action="login.php" method="post">
      <p>
        <label>user</label><br>
        <input class="form-control" name="user" type="text" value={{user}}>
      </p>
      <p>
        <label>firstName</label><br>
        <input class="form-control" name="firstName" type="text" value={{firstName}}>
      </p>
      <p>
        <label>lastName</label><br>
        <input class="form-control" name="lastName" type="text" value={{lastName}}>
      </p>
      <p>
        <label>email</label><br>
        <input class="form-control" name="email" type="text" value={{email}}>
      </p>
      <p>
        <button class="btn btn-primary">
          Login
        </button>
      </p>
    </form>
  </div>

{% endblock %}
