{% extends "layout/layout.twig" %}

{% block page_head %}

<link rel="stylesheet" href="css/manageStyle.css">

{% endblock %}


{% block page_content %}

<div class="container objectSpace">

	{% set event_key = event_data|slice(1, 1)|first %}
	{% set event_name = event_data|slice(2, 1)|first %}
	{% set event_description = event_data|slice(3, 1)|first %}
	{% set event_location = event_data|slice(4, 1)|first %}
	{% set event_capacity = event_data|slice(6, 1)|first %}
	{% set event_space = event_data|slice(7, 1)|first %}

	{% set anonymous = event_data|slice(8, 1)|first %}
	{% set upload = event_data|slice(9, 1)|first %}

	<div class="eventNameOnViewer">
		<h2 id="eventName">{{ event_name }}</h2>
	</div>

	<div class="container entryField1">
		<div class="containerForActionsAndInformation">
			<div class="toolbarContainer">

				<h4> Toolbar </h4>

				<div class="buttonsContainer">

					<div class="mx-1 goToEvent">
						<Button type="button" class="btn btn-sm btn-dark visitEvent">
							<a class="text-info" href="./register.php?key={{ event_key }}">
								<i class="fas fa-external-link-alt"></i>
							</a>
							Go To Event Registration
						</Button>
					</div>

					<div class="mx-1 inviteEvent">
						<Button type="button" class="btn btn-sm btn-dark inviteEventButton" id="inviteEventButton">
							<i class="fa fa-envelope" aria-hidden="true"></i>
							Invite Users to This Event
						</Button>
					</div>

					<br>

					<div class="mx-1 editEvent">
						<button type="button" class="btn btn-sm btn-dark editEventButton">
							<a class="text-info" href="./edit.php?key={{ event_key }}">
								<i class="fas fa-edit"></i>
							</a>
							Edit This Event
						</button>
					</div>

					<div class="mx-1 deleteEvent">
						<Button type="button" class="btn btn-sm btn-danger deleteEventButton" id="deleteEventButton">
							<i class="fas fa-trash"></i>
							Delete This Event
						</Button>
					</div>

					<br>

					<div class="mx-1 returnEvent">
						<Button type="button" class="btn btn-sm btn-black returnEventButton">
							<a class="text-info" href="./events.php">
								<i class="fas fa-arrow-left"></i>
							</a>
							Go Back
						</Button>
					</div>

				</div>
			</div>

			<div class="logisticsContainer">
				<h4> Event Information </h4>
				<div class="informationContainer">

					<label> Event Location: <text> {{ event_location }} </text></label><br>
					
					
					{% if event_description == "" %}
						<label> Event Description: <text> None </text> </label><br><br>
					{% else %}
						<label> Event Description: <text> {{ event_description }} </text></label><br><br>
					{% endif %}
					
				
					{% if anonymous == 1 %}

					<label> Anonymous Event: <text style="color:blue"> Enabled </text></label><br>

					{% else %}

					<label> Anonymous Event: <text style="color:red">Disabled </text></label><br>

					{% endif %}

					{% if upload == 1 %}
					
					<label> Enable File Upload: <text style="color:blue">Enabled </text></label><br><br>

					{% else %}

					<label> Enable File Upload: <text style="color:red">Disabled </text></label><br><br>
					
					{% endif %}

					<label> Event Capacity: <text>{{ event_capacity }} </text></label><br>
					<label> Available Slots: <text>{{ event_space }} </text></label><br>
					<label> Duration Per Timeslot: <text>{{ slot_duration }} minutes</text></label><br><br>

					<label> 
						Link to Event Registration: 
						<a href="./register.php?key={{event_key}}">Here</a> 
					</label>

				</div>
			</div>
			
		</div>

		<br><br>

		<div class="slotsContainer table-responsive">

			{% if table_headers %}

			{{ include('partials/search.twig') }}

			<table class="table table-striped">

				<thead>
					<tr scope="row">

						{% for table_header in table_headers %}
						<th scope="col">{{ table_header }}</th>
						{% endfor %}
						
						<th scope="col">
							<i class="fas fa-trash"></i>
						</th>

					</tr>
				</thead>

				<tbody class="tableBody">

					{% for table_row in table_rows %}

					<tr scope="row">

						{% for column in table_row|slice(0, -1) %}
						<td scope="col">{{ column }}</td>
						{% endfor %}

						{% set file_path = table_row|last %}

						<td scope="col">
							<a class="fileDownloadFile" href="./{{ file_path }}" download>
								<button class="fileDownloadButton btn btn-dark btn-sm">
									<i class="fa fa-download"></i> <text>Download </text>
								</button>
							</a>
						</td>
						<td scope="col">
							<button class="deleteUserSlot">
								<i class="fa fa-times"></i>
							</button>
						</td>
					</tr>

					{% endfor %}

				</tbody>
			</table>

			{% else %}

			<br><br>
			<h3 class="text-center">No one has signed up for this event yet.</h3>

			{% endif %}
		</div>
	</div>

	<div id="deleteConfirm" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h1> Confirm Delete </h1>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<div class="modal-body warningUndoneContainer">
					*This change cannot be undone*
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-dark" id="deleteCancelButton"
						data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-dark" id="deleteSubmitButton">Delete</button>
				</div>
			</div>

		</div>

	</div>

	<div id="massInvite" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h1> Invite Users Via Email </h1>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="inviteInstructions">
						<text>Notify a list of users about this event via email. </text>
						<br>
						<text class="requirementsForInviteText">*Requirements: CSV or TXT file with a list of
							ONIDs*</text>
					</div>

					<br>
					<div class="inviteFileContainer">
						<label id="uploadLabel"> Upload a txt or csv file to send: </label>

						<div class="input-group fileInvite">
							<div class="custom-file">
								<input type="file" class="custom-file-input" id="inputInviteFile" accept=".txt, .csv">
								<label class="custom-file-label" for="inputGroupFile04">Choose a File</label>
							</div>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-dark" id="inviteCancelButton"
						data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-dark" id="inviteSubmitButton">Send</button>
				</div>
			</div>

		</div>

	</div>
	
	
	<div id="deleteUser" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h1> Remove User </h1>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="deleteUserDetails" style="text-align: center;">
						<label style="font-weight: bold;" id="deleteUserHeader"></label>
						<br>
						<label style="color:red; font-weight: bold;">*This Cannot be Undone!*</label>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-dark" id="deleteUserCancelButton"
						data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-dark" id="deleteUserSubmitButton">Delete</button>
				</div>
			</div>

		</div>

	</div>

</div>

<!-- jQuery -->
<script type="text/javascript" src="js/jquery.min.js"></script>

<!-- Bootstrap tooltips -->
<script type="text/javascript" src="js/popper.min.js"></script>

<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<!-- MDB core JavaScript -->
<script type="text/javascript" src="js/mdb.min.js"></script>

<!-- Your custom scripts (optional) -->
<script type="text/javascript"></script>

<!-- Date Range Picker -->

<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- UI specific javascripts -->
<script type="text/javascript" src="view_js/ui.js"></script>

<!-- JavaScript specific to this page -->
<script type="text/javascript" src="view_js/manage.js"></script>


<!-- JavaScript specific to this page -->
<script>$(document).ready(function () { formatTableDateTime(0); }); </script>

{% endblock %}