{% extends 'layout/logged_in_layout.twig' %}

{% block page_head %}
  <link rel="stylesheet" href="static/css/reservationsStyle.css">
{% endblock %}

{% block page_content %}
  <div class="container objectSpace">
    <h2>
      Your Reservations
    </h2>

    <div class="container entryField1">
      {{ include('partials/search.twig') }}

      <div class="yourInvites table-responsive">
        <table class="table table-striped" id="invitesTable">
          <thead>
            <tr scope="row">
              {% for table_header in table_headers|slice(0, - 2) %}
                <th scope="col">
                  {{ table_header }}
                </th>
              {% endfor %}
            </tr>
          </thead>

          <tbody class="tableBody">
            {% for table_row in table_rows %}
              <tr id="{{ table_row|last }}" scope="row">
                <td>
                  <a class="text-info"
                    href="./reservation_details.php?key={{ table_row|last }}">
                    {{ table_row|first }}
                  </a>
                </td>

                {% for column in table_row|slice(1, - 2) %}
                  <td>
                    {{ column }}
                  </td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock %}

{% block page_footer %}

<!-- JavaScript specific to this page -->
<script type="text/javascript" src="static/view_js/upload.js"></script>

<!-- JavaScript specific to this page -->
<script type="text/javascript" src="static/view_js/register.js"></script>

{% endblock %}
