<!DOCTYPE html>

<html lang="en">
  <head>
    <title>{{site_name}}</title>
    <meta charset="utf-8">
    <meta name="robots" content="noarchive">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet">
    <link href="{{site_url}}/static/lib/fullcalendar/main.min.css" rel="stylesheet">
    <link href="{{site_url}}/static/styles.php" rel="stylesheet">
    {% block page_head %}
    {% endblock %}
  </head>
  <body class="body-logged-out">
    <nav class="flex-md-nowrap justify-content-between navbar navbar-expand-md py-0 sticky-top">
      <a class="navbar-brand" href="{{site_url}}">
        <span>{{site_name}}</span>
      </a>
    </nav>
    <main role="main">
      {% block page_content %}
      {% endblock %}
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="{{site_url}}/static/lib/fullcalendar/main.min.js"></script>
    <script src="{{site_url}}/static/scripts.php"></script>
    {% block page_footer %}
    {% endblock %}
  </body>
</html>
